@import "tailwindcss";

:root {
  --background: #595959;
  --foreground: #171717;
}
body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.navbar{
  @apply w-screen h-[66px] flex flex-row items-center relative shadow-xl
}
.navbar-items-container{
  @apply flex flex-row w-[20%] h-full justify-around items-center
}
.navbar-item   {
  @apply w-full h-full mx-2 flex justify-center items-center 
  hover:border-b-4 hover:text-blue-700 hover:border-b-blue-700 transition-all duration-75
}
.navbar-item > * {
  @apply w-6/12 h-6/12 
}
/* to make an ative element later */
.navbar-active{
  @apply hover:border-b-4 hover:text-blue-700 hover:border-b-blue-700 transition-all duration-75
}