@import "tailwindcss";

::-webkit-scrollbar {
  width:0px;
  height:0px;
  background-color: transparent;
}
:root {
  --primary-blue : rgb(8, 102, 255);
  --navbar-height : 60px;
  --hover-background : #99a1af;
}
body{
  max-width:100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Navbar */
.navbar{
  @apply max-w-full h-[var(--navbar-height)] flex flex-row items-center shadow-xl 
  fixed top-0 left-0 right-0 z-10 bg-white
}
.navbar-items-container{
  @apply flex-row h-full justify-around items-center
}
.navbar-item  {
  @apply w-full h-full relative

}
.navbar-item > a {
  @apply mx-1 flex flex-col justify-center items-center rounded-xl relative
  
}
.navbar-item > a:not(.navbar-active){
  @apply hover:bg-[var(--hover-background)] 
}
.navbar-item > button {
  @apply w-10/12 h-10/12 flex justify-center items-center bg-gray-400 rounded-4xl

}
/* to make an active element later */
.navbar-active{
  @apply text-[var(--primary-blue)] transition-all duration-75 
}

.navbar-hr{
  display: none;
}
.navbar-active  hr {
  @apply  bg-[var(--primary-blue)] inline w-[inherit] h-[5px] border-0 absolute top-12 mt-1 ml-1
}
.navbar-items-container > * {
  @apply w-full h-full
}

/* Side Bar */
.sidebar-item{
  @apply w-full mx-6 hover:bg-[var(--hover-background)]
}
.sidebar-link{
  @apply flex flex-row items-center h-12 pl-2
}
.sidebar-link > p {
  @apply block px-4
}

/* status Box */
.status-box > .second-section > .status-activity{
  @apply flex flex-row p-4 items-center font-medium 
}
.status-box > .second-section > .status-activity > p {
  @apply ml-2
}

.pfp {
  border-radius: 50%;
  object-fit: cover;
  border: none;
}

.hico{
}

.xfx01vb {
  color: #65686c;
}
.x2h7rmj {
  transition-property: color, fill, stroke;
}
.x1qfuztq {
  transition-timing-function: var(--fds-soft);
}
.x1lliihq {
  display: block;
}
.x1k90msu {
  transition-duration: var(--fds-fast);
}


/* post  */

.text-ellipse{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;

}

.post-card-activity{
  @apply flex my-2
}